.Login {
    width: 100%;
    height: 100vh;
    max-width: 1240px;
    margin: 0 auto; /* center the form */
    display: grid; /* grid container */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    background-color: #73D5FF;
    /* outline: 3px solid red; */
    /* color: white;     */
}

.center_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* outline: 3px solid blue; */
    /* color: white; */
    /* background-color: #73D5F1; */
}

.center_inner_box {
    display: flex;
    justify-content: center;
    width: 90%;
    color: white;
    outline: 3px solid green;
    background-color: #0093ff;
}

.search_box {
    flex: 0.5;
    display: flex;
    justify-content: space-between;
    outline: 3px solid purple;
    color: white;
    background-color: #9993ff;
}

.put_search_data_section {
    flex: 0.4;
    outline: 3px solid cyan;
    color: white;
    background-color: #5553ff;
}

.search_img {
    flex: 0.4;
    outline: 3px solid cyan;
    color: white;
    background-color: #5553ff;
}



@media screen and (min-width:500px) {
    .Login {
        grid-template-columns: 1fr;
    }
    /* .itme-2 {
        grid-column: 1/3;
    } */    
}

@media screen and (min-width:850px) {
    .Login {
        grid-template-columns: 1fr;
    }
}

