.BottomNav_wrapper {
    /* display: flex; */
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 1rem;
    align-items: center;
    flex-direction: column;
    /* outline: 3px solid blue; */
    /* color: white; */
    /* background-color: #73D5F1; */
}

.BottomNav {
    display: flex;
    justify-content: space-evenly;
    color: white;
    /* outline: 3px solid green;
    background-color: #0093ff; */
}

.BottomNav_item {
    /* span 은 텍스트로 인식하는 것 같음 */
    text-align: center;
    padding: 0.1rem 1rem;
    border-radius: 1.7rem;
    background-color: #2457C5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    /* outline: 3px solid purple; */
    /* color: white; */
}

.BottomNav_item > img {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    /* outline: 3px solid cyan; */
    /* background-color: #5553ff; */
}