@media all and (max-width:767px) {
    .Review {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: grid; /* grid container */
        grid-template-rows: 1fr 4fr 1fr;
        color: white;    
        background-color: #73D5FF;
        /* outline: 3px solid red; */
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin-bottom: 1rem;
        /* outline: 3px solid blue; */
    }

    .logo_box {
        display: flex;
        justify-content: center;
    }

    .logo_box > img {
        width: 3.5rem;
    }

    .title_box {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
    }

    .title_inner_box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .empty {
        flex:0.12;
    }

    .title {
        flex:0.65;
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
        background-color: #2457C5;
        /* outline: 3px solid cyan; */
        /* background-color: #5553ff; */
    }

    .title_img {
        flex: 0.12;
        display: flex;
        justify-content: end;
        align-items: center;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
        border-radius: 50%;
        background-color: #fff;
        /* outline: 3px solid cyan; */
        /* background-color: #5553ff; */
    }

    .title_img > img {
        width: 50%;
        height: 50%;
        margin: 25%
    }

    /* ********** */

    .contents_box {
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        color:#2457C5;
        font-size: 0.9rem;
        font-weight: bold;
        /* outline: 3px solid blue; */
        /* background-color: #73D5F1; */
    }


    .contents {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 20rem;
        gap: 20px;
        padding: 1rem;
        /* outline: 3px solid green; */
        /* background-color: #0093ff; */
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 0.5rem; 
        background-color: #fff;
        /* outline: 3px solid purple; */
    }

    .comment {
        width: 100%;
        margin-bottom: 1rem;
    }

    .manage_button {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 0.7rem;
        /* outline: 3px solid purple; */
    }

    .fix_button {
        display: flex;
        justify-content: center;
        margin-right: 0.2rem;
        border-radius: 1rem;
        padding: 0.1rem 0.5rem;
        background-color: #2457C5;
        color: white;
    }

    .delete_button {
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        padding: 0.1rem 0.5rem;
        background-color: #2457C5;
        color: white;
    }
}

@media all and (min-width:768px) {
    .Review {
        width: 768px;
        height: 100vh;
        margin: 0 auto;
        display: grid; /* grid container */
        grid-template-rows: 1fr 4fr 1fr;
        color: white;    
        background-color: #73D5FF;
        /* outline: 3px solid red; */
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin-bottom: 1rem;
        /* outline: 3px solid blue; */
    }

    .logo_box {
        display: flex;
        justify-content: center;
    }

    .logo_box > img {
        width: 3.5rem;
    }

    .title_box {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
    }

    .title_inner_box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .empty {
        flex:0.12;
    }

    .title {
        flex:0.65;
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
        background-color: #2457C5;
        /* outline: 3px solid cyan; */
        /* background-color: #5553ff; */
    }

    .title_img {
        flex: 0.12;
        display: flex;
        justify-content: end;
        align-items: center;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
        border-radius: 50%;
        background-color: #fff;
        /* outline: 3px solid cyan; */
        /* background-color: #5553ff; */
    }

    .title_img > img {
        width: 50%;
        height: 50%;
        margin: 25%
    }

    /* ********** */

    .contents_box {
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        color:#2457C5;
        font-size: 0.9rem;
        font-weight: bold;
        /* outline: 3px solid blue; */
        /* background-color: #73D5F1; */
    }


    .contents {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 20rem;
        gap: 20px;
        padding: 1rem;
        /* outline: 3px solid green; */
        /* background-color: #0093ff; */
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 0.5rem; 
        background-color: #fff;
        /* outline: 3px solid purple; */
    }

    .comment {
        width: 100%;
        margin-bottom: 1rem;
    }

    .manage_button {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 0.7rem;
        /* outline: 3px solid purple; */
    }

    .fix_button {
        display: flex;
        justify-content: center;
        margin-right: 0.2rem;
        border-radius: 1rem;
        padding: 0.1rem 0.5rem;
        background-color: #2457C5;
        color: white;
    }

    .delete_button {
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        padding: 0.1rem 0.5rem;
        background-color: #2457C5;
        color: white;
    }
}

